@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --background: #ffffff;
}

.dark {
  --background: #000;
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.lottie-container {
  background: white
}

.summary-quill .ql-toolbar {
  border: none !important;
  border-bottom: 1px solid hsl(var(--input)) !important;
  background-color: transparent;
}

.summary-quill .ql-container {
  border: none !important;
  height: calc(100% - 42px);
}

.summary-quill .ql-snow .ql-stroke {
  stroke: white;
}

.summary-quill .ql-snow .ql-fill {
  fill: white;
}

.summary-quill .ql-snow.ql-toolbar button:hover .ql-stroke,
.summary-quill .ql-snow.ql-toolbar button:focus .ql-stroke {
  stroke: hsl(var(--primary));
}